:root {
  --color-primary: #e50914;
  --color-primary-darker: #c11119;

  --color-secondary: #000;
  --color-secondary-light: #100f0f;
  --color-secondary-lighter: #232121;
  --color-secondary-shade: #252424;
  --color-secondary-opacity: #000000a8;

  --color-tertiary: #9a9595;

  --gradient-primary: radial-gradient(
    circle,
    rgba(22, 33, 75, 0.393) 0%,
    rgba(0, 0, 0, 0.8857209280635534) 70%
  );
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: var(--color-secondary);
  /* line-height: 1.9; */
}

/* section {
  border-bottom: 0.8rem solid var(--color-secondary-lighter);
  margin-bottom: 12.8rem;
} */

.hr {
  position: relative;
  height: 7px;
  background-size: contain;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgb(255, 0, 13) 50%,
    transparent 100%
  );
  margin-bottom: 12.8rem;
}

.no-margin-btm {
  margin-bottom: 0;
}

.container {
  width: 110rem;
  margin: 0 auto;
}

/* grid */
.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 2rem;
  row-gap: 8rem;
}

/* flex */
.flex-col {
  display: flex;
  flex-direction: column;
}

/* image background fix */
.background-fix {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Buttons */
.btn {
  background-color: var(--color-primary);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.3rem;

  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

/* Headings */
.heading-primary {
  font-size: 4.4rem;
  font-weight: 900;
  letter-spacing: -0.6px;
  padding-bottom: 4rem;
}

.heading-secondary {
  font-size: 4.4rem;
  letter-spacing: -0.9px;
  padding-bottom: 2rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: -0.9px;
  padding-bottom: 2rem;
}

p {
  padding-bottom: 2rem;
}

/* Input */
.input {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-secondary-opacity);
  border-radius: 0.3rem;
  border: 1px solid var(--color-tertiary);
  color: #ddcfcf;
  outline: none;
  font-size: 1.6rem;
  padding: 1.4rem;
}
