/* ******************************************* */
/* ***************** Header ****************** */
/* ******************************************* */
.header {
  display: flex;
  height: 8rem;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: relative;
}

.header img {
  width: 18rem;
}

.header-options {
  display: flex;
  gap: 2rem;
}

.option-box {
  display: flex;
  align-items: center;
  background: var(--color-secondary-light);
  gap: 0.6rem;
  padding: 0 0.6rem;
  color: #fff;
  border-radius: 0.3rem;
  border: 1px solid var(--color-tertiary);
}

.select-lang {
  background: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.btn-login {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

/* ******************************************* */
/* ***************** Hero ******************** */
/* ******************************************* */
.section-hero {
  height: calc(100vh - 8rem);
}

.hero-img-box {
  /* position: absolute; */
  position: relative;
  top: -8rem;
  z-index: -1;
  /* height: 100%; */
  height: 100vh;
  overflow-y: hidden;
}

.hero-img-gradient {
  position: absolute;
  top: 0;
  /* height: calc(100vh - 0.8rem); */
  height: 100vh;
  width: 100%;

  background: var(--gradient-primary);
}

.hero-txt {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-secondary-txt {
  font-size: 2.4rem;
  font-weight: 600;
}

.hero-tertiary-txt {
  font-size: 1.8rem;
  padding-bottom: 1.2rem;
}

.hero-form {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.input-hero-email {
  width: 30rem;
}

.btn-start {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 3rem;
}

/* ******************************************* */
/* *************** Features ****************** */
/* ******************************************* */

.section-features {
  padding-bottom: 12.6rem;
}

.feature-img {
  width: 100%;
}

.feature-txt p {
  font-size: 2rem;
}

.feature-img-box {
  position: relative;
}

.video-box {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
}

.video-box-tv {
  width: 73%;
  transform: translate(-50.5%, 37%);
}

.video-box-devices {
  width: 61%;
  transform: translate(-50.5%, 14%);
}

.video-box video {
  width: 100%;
  height: 100%;
}

.download-box {
  position: absolute;
  bottom: 32px;
  left: 22%;

  width: 30rem;
  border: 1px solid #ffffff47;
  border-radius: 0.9rem;
  padding: 0.3rem 1rem;
  background-color: var(--color-secondary);

  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.stranger-things-img {
  height: 8rem;
}

.download-txt {
  flex-grow: 1;
}

.download-txt > * {
  padding-bottom: 0;
}

.download-txt > *:first-child {
  font-size: 1.6rem;
}

.download-txt > *:last-child {
  font-size: 1.2rem;
  color: #00e7ff;
}

.download-img {
  height: 5rem;
}

/* ******************************************* */
/* ***************** Popular ***************** */
/* ******************************************* */
.section-popular {
  margin-bottom: 0;
  padding-bottom: 12.8rem;
}

.popular-heading {
  text-align: center;
}

.popular-sub-txt {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 5rem;
}

.popular-container {
  position: relative;
}

.popular-container-heading {
  margin: 0 8rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.popular-container ul {
  font-size: 2rem;
  margin: 0 8rem;
  padding: 0;

  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;

  display: flex;
  gap: 1.2rem;
}

.popular-container ul img {
  width: 30rem;
}

.popular-container ul a:link {
  text-decoration: none;
}

.popular-container ul p {
  text-align: center;
  padding-bottom: 0;
  font-size: 1.4rem;
  color: #fff;
}

.popular-container ul > li {
  list-style: none;
}

.popular-container .btn-scroll {
  position: absolute;
  top: 30%;
  z-index: 1;

  color: var(--color-primary);
  background: none;
  width: 5rem;
  cursor: pointer;
}

.popular-container .btn-scroll:hover {
  color: var(--color-primary-darker);
}

.popular-container .btn-scroll-left {
  left: 2%;
  transform: translate(0%, 50%);
}

.popular-container .btn-scroll-right {
  right: 2%;
  transform: translate(0%, 50%) rotate(180deg);
}

.popular-container .hide {
  display: none;
}

/* ******************************************* */
/* ***************** Devices ***************** */
/* ******************************************* */

.section-devices header {
  height: 28rem;
  background-image: url('../images/devices/header.jpg');
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section-devices header h2 {
  padding-bottom: 0;
}

/* ********** Tab Head *********** */
.devices-tab-head {
  padding-left: 0;
  text-align: center;
  background-color: #fff;
  color: #555;
  font-size: 1.2rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

.devices-tab-head > li {
  flex-basis: 25%;
  cursor: pointer;
  list-style: none;
  border-right: 1px solid #eee;
  border-bottom: 1.6rem solid var(--color-primary);
  height: 12rem;

  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: auto 4rem;
}

.devices-tab-head > li span {
  display: block;
  margin: 70px 0 0 0;
}

/* tab header images */
.devices-tab-head > li:first-child {
  background-image: url('../images/devices/media-player.webp');
}
.devices-tab-head > li:nth-child(2) {
  background-image: url('../images/devices/hdtv.webp');
}
.devices-tab-head > li:nth-child(3) {
  background-image: url('../images/devices/game-console.webp');
}
.devices-tab-head > li:nth-child(4) {
  background-image: url('../images/devices/mvpd.webp');
}
.devices-tab-head > li:nth-child(5) {
  background-image: url('../images/devices/blu-ray-player.webp');
}
.devices-tab-head > li:nth-child(6) {
  background-image: url('../images/devices/phones-and-tablet.webp');
}
.devices-tab-head > li:last-child {
  background-image: url('../images/devices/laptop.webp');
}

.devices-tab-head > li:hover {
  background-color: #f4f4f496;
}

/* ********** Tab Content *********** */

.device-tab-content-box {
  /* max-height: 40rem; */
  height: 36rem;
  background-image: url('../images/devices/device-panel-background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.device-tab-content-box .container {
  padding-left: 10rem;
  padding-right: 10rem;
}

.device-tab-content {
  display: flex;
  gap: 24rem;
}

/* Text content */
.device-tab-content .text-box {
  padding-top: 4rem;
  flex-basis: 55%;
}

.device-tab-content .text-box h4 {
  font-size: 3rem;
  font-weight: 400;
  border-left: 1px solid var(--color-primary);
  padding-left: 2rem;
  margin-bottom: 3rem;
}

.device-tab-content .text-box p {
  font-size: 1.2rem;
}

/* Brand logos */
.device-tab-content .brand-logos {
  flex-basis: 45%;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.2rem;
}

.brand-logos a {
  background-color: black;
  background-repeat: no-repeat;

  background-position: center;
}

.brand-logos div {
  background: #1a1a1a
    url('../images/devices/media-player-brand-logos/checkerboard.webp');
}

/* Media players brand logos */
.brand-logos-media-players a {
  height: 17.9rem;
}

.brand-logos-media-players > a:first-child {
  background-image: url('../images/devices/media-player-brand-logos/appletv_rev.webp');
  background-size: auto 3rem;
}
.brand-logos-media-players > a:nth-child(2) {
  background-image: url('../images/devices/media-player-brand-logos/g-chromecast.webp');
  background-size: auto 2rem;
}
.brand-logos-media-players > a:nth-child(3) {
  background-image: url('../images/devices/media-player-brand-logos/portal-from-facebook.webp');
  background-size: auto 6rem;
}

/* Hdtv brand logos */
.brand-logos-hdtvs a {
  height: 11.9rem;
}

.brand-logos-hdtvs > a:first-child {
  background-image: url('../images/devices/hdtv-brand-logos/hisenselogo.webp');
  background-size: auto 1.6rem;
}
.brand-logos-hdtvs > a:nth-child(2) {
  background-image: url('../images/devices/hdtv-brand-logos/lg-logo-3d-tagline-white.webp');
  background-size: auto 3rem;
}
.brand-logos-hdtvs > a:nth-child(3) {
  background-image: url('../images/devices/hdtv-brand-logos/panasonic_logo_bl_posi_png.webp');
  background-size: auto 1.6rem;
}
.brand-logos-hdtvs > a:nth-child(4) {
  background-image: url('../images/devices/hdtv-brand-logos/philips_transparent_logo.webp');
  background-size: auto 1.6rem;
}
.brand-logos-hdtvs > a:nth-child(5) {
  background-image: url('../images/devices/hdtv-brand-logos/samsung_lettermark_white_rgb.webp');
  background-size: auto 1.6rem;
}

/* Game consoles brand logos */
.brand-logos-game-consoles a {
  height: 11.9rem;
}

.brand-logos-game-consoles > a:first-child {
  background-image: url('../images/devices/game-consoles-brand-logos/ps3.webp');
  background-size: auto 1.4rem;
}
.brand-logos-game-consoles > a:nth-child(2) {
  background-image: url('../images/devices/game-consoles-brand-logos/ps4.webp');
  background-size: auto 1.4rem;
}
.brand-logos-game-consoles > a:nth-child(3) {
  background-image: url('../images/devices/game-consoles-brand-logos/ps5-logo.webp');
  background-size: auto 1.4rem;
}
.brand-logos-game-consoles > a:nth-child(4) {
  background-image: url('../images/devices/game-consoles-brand-logos/xbox360_2013_stacked_wht_rgb.webp');
  background-size: auto 4rem;
}
.brand-logos-game-consoles > a:nth-child(5) {
  background-image: url('../images/devices/game-consoles-brand-logos/xboxone_stacked_wht_rgb.webp');
  background-size: auto 4rem;
}
.brand-logos-game-consoles > a:last-child {
  background-image: url('../images/devices/game-consoles-brand-logos/xboxseriesxs-2020-stack-wht-rgb-1-copy-xboxallaccess-2020-stacked-dkgray-rgb.png');
  background-size: auto 4rem;
}

/* Blu ray brand logos */
.brand-logos-blu-ray a {
  height: 17.9rem;
}

.brand-logos-blu-ray > a:first-child {
  background-image: url('../images/devices/hdtv-brand-logos/lg-logo-3d-tagline-white.webp');
  background-size: auto 3rem;
}
.brand-logos-blu-ray > a:nth-child(2) {
  background-image: url('../images/devices/hdtv-brand-logos/panasonic_logo_bl_posi_png.webp');
  background-size: auto 1.6rem;
}
.brand-logos-blu-ray > a:nth-child(3) {
  background-image: url('../images/devices/hdtv-brand-logos/samsung_lettermark_white_rgb.webp');
  background-size: auto 1.6rem;
}
.brand-logos-blu-ray > a:nth-child(4) {
  background-image: url('../images/devices/hdtv-brand-logos/hisenselogo.webp');
  background-size: auto 1.6rem;
}

/* Smartphones brand logos */
.brand-logos-smartphones a {
  height: 17.9rem;
}

.brand-logos-smartphones > a:first-child {
  background-image: url('../images/devices/smartphones-brand-logos/android.webp');
  background-size: auto 2rem;
}
.brand-logos-smartphones > a:nth-child(2) {
  background-image: url('../images/devices/smartphones-brand-logos/apple_logo_360.webp');
  background-size: auto 3rem;
}
.brand-logos-smartphones > a:nth-child(3) {
  background-image: url('../images/devices/smartphones-brand-logos/windows-phone.webp');
  background-size: auto 1.6rem;
}

/* Hide */
.device-tab-content {
  display: none;
}

/* Show */
.active {
  display: flex;
  justify-content: center;
}

/* Show header border bottom */
.devices-tab-head .active {
  border-bottom: 0;
}
/* ******************************************* */
/* ***************** Top ******************** */
/* ******************************************* */

/* ******************************************* */
/* ***************** About ******************* */
/* ******************************************* */

.section-about {
  padding-bottom: 12.8rem;
}

.about-heading {
  text-align: center;
  padding-bottom: 5rem;
}

/* slide container */
.section-about .slide-container {
  height: 50rem;

  position: relative;
  overflow: hidden;
}

/* individual slide */
.section-about .slide-container .slide {
  width: 100%;
  height: 50rem;
  padding-left: 8rem;
  padding-right: 8rem;

  position: absolute;
  top: 0;

  transition: transform 1s;
}

/* image */
.section-about .slide-container .slide img {
  float: right;
  width: 70%;
  height: 100%;
  object-fit: cover;

  clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 97%);
}

/* stories */
.slide .stories {
  width: 35rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  padding: 3rem;

  clip-path: polygon(0 0%, 100% 3%, 100% 97%, 0 100%);
  z-index: 1;
}

.stories .title {
  font-size: 1.4rem;
  font-weight: 400;
}

.stories .heading {
  font-size: 2rem;
  font-weight: 600;
}

.stories .learn {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.8rem;
  font-weight: 600;
}

.stories .learn:hover {
  color: #333;
  text-decoration: underline;
}

/* buttons */
.section-about .slide-container .btn-slide {
  position: absolute;
  z-index: 1;
  top: 50%;

  background: none;
  outline: none;
  color: #fff;
  font-size: 4rem;
  cursor: pointer;

  background-color: #f26a6a47;
  border-radius: 50%;
  border: 5px solid #f26a6a1c;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-about .slide-container .btn-slide-left {
  left: 3%;
  transform: translate(-50%, -50%);
}
.section-about .slide-container .btn-slide-right {
  right: 3%;
  transform: translate(50%, -50%);
}

/* ******************************************* */
/* ***************** Faq ******************** */
/* ******************************************* */
.section-faq {
  padding-bottom: 12.8rem;
}

.faq-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.faq-section-heading {
  text-align: center;
}

/*  flex container */
.faqs-box {
  gap: 1rem;
  margin-bottom: 4rem;
}

/* faq flex item */
.faq-box {
  background-color: rgb(45, 45, 45);
}

/* header */
.faq-box header {
  padding: 2rem;
}

.faq-box header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2.2rem;
  cursor: pointer;
}

.faq-box header:hover {
  background-color: rgb(65, 65, 65);
}

.faq-box header h4 {
  font-weight: 400;
}

.btn-faq {
  cursor: pointer;
  transition: all 0.3s ease;
}

.faq-box main > *:last-child {
  padding-bottom: 0;
}

/* Show/hide logic */

/* main hidden */
.close-faq-main {
  font-size: 2rem;

  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out, padding 0.6s ease;
}

/* main open */
.open .close-faq-main {
  max-height: 20rem;
  padding: 2rem;
}

/* rotate btn when open*/
.open .btn-faq {
  rotate: 45deg;
}

.section-faq .hero-tertiary-txt {
  text-align: center;
}

/* ******************************************* */
/* ***************** Footer ****************** */
/* ******************************************* */

/* ******************************************* */
/* ***************** Scroll to top *********** */
/* ******************************************* */
.scroll-top {
  position: fixed;
  bottom: 10%;
  right: 3%;
  z-index: 10;
  font-size: 3rem;
  font-weight: 700;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ******************************************* */
/* ***************** Modal ******************* */
/* ******************************************* */
.modal-login {
  background-color: rgba(0, 0, 0, 0.7);
  width: 40rem;
  height: 60rem;
  padding: 6rem;
  border-radius: 0.3rem;
  opacity: 1;
  z-index: 1;
  transition: all 0.7s ease-out;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 20%);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #ffffff37; */
  background-color: #3148972e;
  backdrop-filter: blur(4px);
}

.hidden {
  opacity: 0;
  visibility: hidden;

  /* for slide effect */
  right: 0;
  transform: translate(100%, 20%);
}

.modal-body {
  margin-bottom: 5rem;
}

.modal-form {
  gap: 3rem;
}

.modal-form-inputs {
  gap: 1rem;
}

.modal-form-inputs input {
  outline: none;
  border: none;
  background-color: #4b4747;
}

.btn-modal-login {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  padding: 1.2rem;
}

.modal-form-actions {
  font-size: 1.2rem;
}

.modal-help {
  float: right;
}

.modal-help:link,
.modal-help:visited,
.modal-footer > *:first-child a:link,
.modal-footer > *:first-child a:visited,
.modal-footer > *:last-child a:link,
.modal-footer > *:last-child a:visited {
  text-decoration: none;
  color: #fff;
}

.modal-help:hover,
.modal-footer > *:first-child a:hover,
.modal-footer > *:last-child a:hover {
  text-decoration: underline;
}

.modal-footer > * {
  color: #b9b4b4;
}

.modal-footer > *:first-child {
  font-size: 1.6rem;
}

.modal-footer > *:first-child a {
  font-weight: 500;
}

.modal-footer > *:last-child {
  font-size: 1.3rem;
}

.modal-footer > *:last-child a:link {
  color: blue;
}

.btn-modal-close {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
