/* ******************************************* */
/* ***************** Header ****************** */
/* ******************************************* */
.header {
  display: flex;
  height: 8rem;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: relative;
}

.header img {
  width: 18rem;
}

.header-options {
  display: flex;
  gap: 2rem;
}

.option-box {
  display: flex;
  align-items: center;
  background: var(--color-secondary-light);
  gap: 0.6rem;
  padding: 0 0.6rem;
  color: #fff;
  border-radius: 0.3rem;
  border: 1px solid var(--color-tertiary);
}

.select-lang {
  background: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.btn-login {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

/* ******************************************* */
/* ***************** Hero ******************** */
/* ******************************************* */
.section-hero {
  height: calc(100vh - 8rem);
}

.hero-img-box {
  /* position: absolute; */
  position: relative;
  top: -8rem;
  z-index: -1;
  /* height: 100%; */
  height: 100vh;
  overflow-y: hidden;
}

/* .hero-img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.hero-img-gradient {
  position: absolute;
  top: 0;
  height: calc(100vh - 0.8rem);
  width: 100%;

  background: var(--gradient-primary);
}

.hero-txt {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-secondary-txt {
  font-size: 2.4rem;
  font-weight: 600;
}

.hero-tertiary-txt {
  font-size: 1.8rem;
  padding-bottom: 1.2rem;
}

.hero-form {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.input-hero-email {
  width: 30rem;
}

.btn-start {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 3rem;
}

/* ******************************************* */
/* *************** Features ****************** */
/* ******************************************* */

.section-features {
  padding-bottom: 12.6rem;
}

.feature-img {
  width: 100%;
}

.feature-txt p {
  font-size: 2rem;
}

.feature-img-box {
  position: relative;
}

.video-box {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
}

.video-box-tv {
  width: 73%;
  transform: translate(-50.5%, 37%);
}

.video-box-devices {
  width: 61%;
  transform: translate(-50.5%, 14%);
}

.video-box video {
  width: 100%;
  height: 100%;
}

.download-box {
  position: absolute;
  bottom: 32px;
  left: 22%;

  width: 30rem;
  border: 1px solid #ffffff47;
  border-radius: 0.9rem;
  padding: 0.3rem 1rem;
  background-color: var(--color-secondary);

  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.stranger-things-img {
  height: 8rem;
}

.download-txt {
  flex-grow: 1;
}

.download-txt > * {
  padding-bottom: 0;
}

.download-txt > *:first-child {
  font-size: 1.6rem;
}

.download-txt > *:last-child {
  font-size: 1.2rem;
  color: #00e7ff;
}

.download-img {
  height: 5rem;
}

/* ******************************************* */
/* ***************** Popular ***************** */
/* ******************************************* */

/* ******************************************* */
/* ***************** Devices ***************** */
/* ******************************************* */

/* ******************************************* */
/* ***************** Top ******************** */
/* ******************************************* */

/* ******************************************* */
/* ***************** About ******************* */
/* ******************************************* */

/* ******************************************* */
/* ***************** Faq ******************** */
/* ******************************************* */

/* ******************************************* */
/* ***************** Footer ****************** */
/* ******************************************* */

/* ******************************************* */
/* ***************** Scroll to top *********** */
/* ******************************************* */

/* ******************************************* */
/* ***************** Modal ******************* */
/* ******************************************* */
.modal-login {
  background-color: rgba(0, 0, 0, 0.7);
  width: 40rem;
  height: 60rem;
  padding: 6rem;
  border-radius: 0.3rem;
  z-index: 1;
  transition: all 0.7s ease-out;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 20%);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #ffffff37; */
  background-color: #3148972e;
  backdrop-filter: blur(4px);
}

.hidden {
  opacity: 0;
  visibility: hidden;

  /* for slide effect */
  right: 0;
  transform: translate(100%, 20%);
}

.modal-body {
  margin-bottom: 5rem;
}

.modal-footer {
  /* margin-bottom: 10rem; */
}

.modal-form {
  gap: 3rem;
}

.modal-form-inputs {
  gap: 1rem;
}

.modal-form-inputs input {
  outline: none;
  border: none;
  background-color: #4b4747;
}

.btn-modal-login {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  padding: 1.2rem;
}

.modal-form-actions {
  font-size: 1.2rem;
}

.modal-help {
  float: right;
}

.modal-help:link,
.modal-help:visited,
.modal-footer > *:first-child a:link,
.modal-footer > *:first-child a:visited,
.modal-footer > *:last-child a:link,
.modal-footer > *:last-child a:visited {
  text-decoration: none;
  color: #fff;
}

.modal-help:hover,
.modal-footer > *:first-child a:hover,
.modal-footer > *:last-child a:hover {
  text-decoration: underline;
}

.modal-footer > * {
  color: #b9b4b4;
}

.modal-footer > *:first-child {
  font-size: 1.6rem;
}

.modal-footer > *:first-child a {
  font-weight: 500;
}

.modal-footer > *:last-child {
  font-size: 1.3rem;
}

.modal-footer > *:last-child a:link {
  color: blue;
}

.btn-modal-close {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
