<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordion</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: sans-serif;
      }

      .accordion {
        width: 800px;
        margin: 100px auto;
      }
    </style>
  </head>
  <body>
    <div class="accordion">
      <div class="faq"></div>
      <div class="faq"></div>
      <div class="faq"></div>
    </div>
  </body>
</html>
